@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    Box-Sizing: Border-Box;
}

body {
    align-items     : center;
    font-family     : 'Rajdhani', sans-serif;
    margin          : 0;
    background-image: linear-gradient(120deg, #6a78c5 0%, #8ec5fc 100%);
    display         : flex;
    justify-content : center;
    min-height      : 100vh;
    flex-direction  : column;
}

input {
    padding      : 10px;
    border-radius: 25px;
    border       : none;
    min-width    : 300px;
    font-family  : inherit;
    font-size    : 14px;
}

input:focus {
    outline: none;
}

ul {
    list-style: none;
}

button {
    font-family  : inherit;
    font-weight  : bold;
    border       : none;
    border-radius: 25px;
    background   : #9ce322;
    padding      : 10px;
    width        : 100px;
}

.ajax-section {
    margin: 70px 0 20px;
}

.ajax-section .cities {
    display              : grid;
    grid-gap             : 32px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.ajax-section .city {
    position     : relative;
    padding      : 40px 10%;
    border-radius: 20px;
    background   : #4facfe;
}


.ajax-section .city::after {
    content      : '';
    width        : 90%;
    height       : 50px;
    position     : absolute;
    bottom       : -12px;
    left         : 5%;
    z-index      : -1;
    opacity      : 0.3;
    border-radius: 20px;
    background   : #4facfe;
}

.ajax-section figcaption {
    margin-top    : 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ajax-section .city-temp {
    font-size  : 5rem;
    font-weight: bold;
    margin-top : 10px;
}

.ajax-section .city sup {
    font-size: 0.5em;
}

.ajax-section .city-name sup {
    padding      : 0.2em 0.6em;
    border-radius: 30px;
    color        : #FFF;
    background   : #e9a213;
}

.ajax-section .city-icon {
    margin-top: 10px;
    width     : 100px;
    height    : 100px;
}

@media screen and (max-width: 1000px) {
    body {
      padding: 30px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 700px) {
    .heading,
    .ajax-section .city-temp {
      font-size: 3rem;
    }
    
    .ajax-section {
      margin-top: 20px;
    }
    
    .top-banner form {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .top-banner form input,
    .top-banner form button {
      width: 100%;
    }
  
    .top-banner form button {
      margin: 20px 0 0 0;
    }
    
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
  
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    body {
      padding: 15px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }